<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>日本代購商品預購中~~~</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.11/vue.min.js" integrity="sha512-rUE9uHSFfDHr7vyxa541AcZiF0PvckTp83z2LLbFhQaXrgV2xiC0mtR5CQfM6mbdpIO2ODj+lFNj05LwvEkq9Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        main {
            display: flex;
            flex-grow: 1;
            overflow: hidden;
            background-color:#f9f9f9;
        }

        /* .content {
            box-sizing: border-box;
            width: 40%;
            flex-shrink: 0;
            transition: transform 300ms;
            padding: 15px;
        } */

        .product {
            margin: 15px;
            background: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        }

        .info-box {
            display:flexbox;
            padding: 15px 5px;
        }

        img{
            position: center;
            width:80%;
            height:auto
        }

        h2 {
            margin: 10px 0;
            padding: 0;
            font-size: 18px;
        }

        p {
            margin: 0;
            color: #aba6a6;
            text-align:left;
        }

        table {
            margin: 20px;
            border-spacing: 0;
            border-collapse: collapse;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, .1);

            tr {
                border-bottom: 1px solid #f3f3f3;
            }

            th,  td {
                min-width: 2em;
                width: 20%;
                padding: 25px;
                text-align: right;

                &:first-child {
                    width: 40%;
                    text-align: left;
                }

                &:last-child {
                    padding-right: 10px;
                }
            }

            thead {
                color: #ef8a8b;
                font-size: 16px;
                text-align: left;

                .time {
                    color: #c2c2c2;
                    font-size: 14px;
                    text-align: right;
                }
            }

            tbody {
                font-size: 14px;

                .table-title {
                    color: #c2c2c2;
                    font-size: 12px;
                }

                .button-del {
                    width: 30px;
                    height: 30px;
                    outline: 0;
                    border: 0;
                    padding: 0 0 .4em;
                    color: #b6b6b6;
                    font-size: 18px;
                    background: transparent;
                    cursor: pointer;
                }
            }

            tfoot {
                color: #959595;
                font-size: 12px;
                background: #f9f9f9;

                .total-price {
                    margin-left: 1em;
                    color: #000;
                    font-size: 20px;
                }
            }
        }

        @keyframes check {
            from { stroke-dashoffset: 80; }
            to { stroke-dashoffset: 0; }
        }

        @keyframes circle {
            from { stroke-dashoffset: -300; }
            to { stroke-dashoffset: 0; }
        }


    </style>
</head>
<body>
    <div id="app">
        <!-- 主要展示區塊 -->
        <main :class="{ shift: isShowingCart }">
            <!-- 瀏覽產品 -->
            <div class="content">
                <h2>本次日本代購商品下單期間為2023/09/04至2023/09/17</h2>
                請輸入你/妳的姓名:
                <input type="text" v-model="message" />
                <h3>購物清單在最底下</h3>
                <h3>要許願請找宏為</h3>
                <!-- 範例 HTML -->
                <div class="product" v-for="product in products">
                    <div class="info-box">
                        <img :src="product.thumb" />
                        <div>
                            <h2>商品名稱: {{ product.name }}</h2>
                            <h3>商品說明: {{ product.text }}</h3>
                            <p>價格:$ {{ product.price }}</p>
                        </div>
                    </div>
                    <div class="action-box">
                        <div>
                            <button class="round" @click="minusOne(product)">-</button>
                            <span>{{ product.amountShow }}</span>
                            <button class="round" @click="addOne(product)">+</button>
                        </div>
                        <br />
                        <button @click="addToCart(product)">新增至購物清單</button>
                        <br />
                    </div>
                </div>

                    <!-- 購物清單 -->
                <div class="content">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="5">這是 {{ message }} 的購物清單喔!!</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-title">
                                <td>品項</td>
                                <td></td>
                                <td>數量</td>
                                <td></td>
                                <td>單價</td>
                                <td></td>
                                <td>小計</td>
                                <td></td>
                            </tr>
                            <tr v-for="product in productsInCart">
                                <td>{{ product.text }}</td>
                                <td></td>
                                <td>{{ product.amount }}</td>
                                <td></td>
                                <td>{{ product.price }}</td>
                                <td></td>
                                <td>{{ product.sum }}</td>
                                <td>
                                    <button class="button-del" @click="remove(product)">×</button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">Total <span class="total-price">$ {{ total }}</span></td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                    <!-- <button class="checkout">前往付款</button> -->
                    <a>
                        <h3>購買注意事項</h3>
                        1.商品價格已經包含日本消費稅(10%)以及國際貨運費用。
                        <br />
                        2.本次到貨時間約在九月底。
                        <br />
                        3.如果有想買但上面沒有的物品，歡迎許願。
                        <br />
                        4.海外郵寄包裹須符合台灣以及日本航空郵件規定，詳情請參考<a href="https://www.post.gov.tw/post/internet/SearchZone/index.jsp?ID=1406699177348">中華郵政海外郵件寄送規範</a>。
                        <br />
                        5.選擇好後請將購物清單截圖或拍照寄給我。
                        <br />
                        6.等我想到再補上來...
                    </a>
                </div>
            </div>
        </main>
    </div>

    <script>
        new Vue({
            el: "#app",
            data: {
                isShowingCart: false,
                message: '',
                products: [
                    {
                        id: '101',
                        name: '大正漢方胃腸薬',
                        price:460 ,
                        text:'大正漢方胃腸薬(粉狀) 48包',
                        thumb: 'https://tshop.r10s.jp/sundrug/cabinet/84/4987306009486.jpg?_ex=400x400&s=0&r=1',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '102',
                        name: 'キャベジン胃腸薬',
                        price: 430,
                        text:'キャベジン胃腸薬 300錠入',
                        thumb: 'https://tshop.r10s.jp/master/cabinet/200-24/a0057456.jpg?downsize=300:*',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '103',
                        name: '第一三共胃腸薬',
                        price: 330,
                        text:'第一三共胃腸薬(粉狀) 60包入',
                        thumb: 'https://thumbnail.image.rakuten.co.jp/@0_mall/fortress/cabinet/products/06713660/medeal4987107629753.jpg',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '104',
                        name: '御岳百草丸',
                        price: 500,
                        text:'御岳百草丸 4100錠入',
                        thumb: 'https://thumbnail.image.rakuten.co.jp/@0_mall/v-drug/cabinet/0103/4987352002455.jpg',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '105',
                        name: '太田胃散A',
                        price: 500,
                        text:'太田胃散A 300錠入(錠劑)',
                        thumb: 'https://tshop.r10s.jp/sundrug/cabinet/67/4987033811116.jpg?_ex=400x400&s=0&r=1',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '201',
                        name: 'アリナミン',
                        price: 1600,
                        text:'合力他命 270錠入',
                        thumb: 'https://image.rakuten.co.jp/biccamera/cabinet/product/0890/00000001882212_a01.jpg',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '301',
                        name: '強力わかもと',
                        price: 630,
                        text:'若元錠 1000錠入',
                        thumb: 'https://shop.r10s.jp/stacon/cabinet/2016-1/4987243114014_1.jpg',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '302',
                        name: 'サロンパス',
                        price: 290,
                        text:'薩隆帕斯藥布 120枚入 (4.6 * 7.2 公分)',
                        thumb: 'https://tshop.r10s.jp/sundrug/cabinet/1/4987188100578.jpg?_ex=400x400&s=0&r=1',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '303',
                        name: 'サロンパスAe',
                        price: 160,
                        text:'薩隆帕斯藥布 大片12枚入 (7.2 * 13 公分)',
                        thumb: 'https://thumbnail.image.rakuten.co.jp/@0_mall/sapoot/cabinet/00372421/img57631072.jpg',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '401',
                        name: 'チョコラBB',
                        price: 900,
                        text:'CHOCOLA BB B群 250錠入',
                        thumb: 'https://tshop.r10s.jp/tennouji-oka1925/cabinet/compass1675667972.jpg?downsize=200:*',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '402',
                        name: 'ペアアクネ クリームW',
                        price: 190,
                        text:'PAIR 皮膚藥(24g)',
                        thumb: 'https://thumbnail.image.rakuten.co.jp/@0_mall/ladydrug/cabinet/gazo21/4903301025726_2.jpg',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '403',
                        name: 'メンソレータム AD20 乳液',
                        price: 420,
                        text:'曼秀雷敦 AD20(金色) 乳液(120ml)',
                        thumb: 'https://shop.r10s.jp/genki-e-shop-hanshin/cabinet/c/4987241119912.jpg',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '404',
                        name: 'ロート製薬 メンソレータム エクシブ W',
                        price: 310,
                        text:'指甲藥膏(針對指甲感染、水泡、蟲咬等) 15g',
                        thumb: 'https://thumbnail.image.rakuten.co.jp/@0_mall/tsuruha/cabinet/shouhin41/4987241142590.jpg',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '501',
                        name: 'Vロートアクティブプレミアム',
                        price: 340,
                        text:'Premium V 眼藥水(15ml)',
                        thumb: 'https://thumbnail.image.rakuten.co.jp/@0_mall/uniquedrugstore2021/cabinet/08685604/4987241174461.jpg',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '502',
                        name: '参天製薬 サンテFX ネオ',
                        price: 90,
                        text:'參天眼藥水(白色) (12ml)',
                        thumb: 'https://thumbnail.image.rakuten.co.jp/@0_mall/curecarat/cabinet/dai2/09141886/4987084410443.jpg',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '601',
                        name: 'パブロンゴールドA微粒',
                        price: 560,
                        text:'大正製藥 感冒藥 44包入 粉裝',
                        thumb: 'https://thumbnail.image.rakuten.co.jp/@0_mall/uniquedrugstore2021/cabinet/compass1643006382.jpg',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '602',
                        name: '龍角散ダイレクトスティックピーチ',
                        price: 600,
                        text:'龍角散 喉嚨藥(90g)',
                        thumb: 'https://shop.r10s.jp/healthy-good/cabinet/item/r_21/rkki-210344.jpg',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '603',
                        name: 'イブクイック頭痛薬',
                        price: 310,
                        text:'EVE頭痛藥(藍色) 40錠入',
                        thumb: 'https://image.rakuten.co.jp/biccamera/cabinet/product/1214/00000002072401_a01.jpg',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '604',
                        name: '太田胃散',
                        price: 385,
                        text:'太田胃散 48包入 粉裝',
                        thumb: 'https://thumbnail.image.rakuten.co.jp/@0_mall/bey-drug/cabinet/tatennpogaido7/4987033409061.jpg',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '605',
                        name: 'イブクイック頭痛薬DX',
                        price: 320,
                        text:'EVE頭痛藥(金色) 40錠入 含有保護胃黏膜成分 不傷胃',
                        thumb: 'https://thumbnail.image.rakuten.co.jp/@0_mall/uniquedrugstore2021/cabinet/compass1642731153.jpg',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '606',
                        name: '皇漢堂製薬 ビューラック',
                        price: 270,
                        text:'皇漢堂製薬 便祕碇 400錠入',
                        thumb: 'https://thumbnail.image.rakuten.co.jp/@0_mall/uniquedrugstore2021/cabinet/compass1641968113.jpg',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '607',
                        name: 'オロナインＨ軟膏',
                        price: 230,
                        text:'Oronine H 創傷軟膏 100g',
                        thumb: 'https://tshop.r10s.jp/sakuraiyakuhinstore/cabinet/1/09418500/imgrc0098721386.jpg?_ex=200x200&s=0&r=1',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '701',
                        name: 'コーセー 雪肌粋 ホワイト洗顔クリーム',
                        price: 370,
                        text:'雪肌粹 洗面乳 (120g)',
                        thumb: 'https://thumbnail.image.rakuten.co.jp/@0_mall/marktec/cabinet/imgs_27642333_5/41xdmptza5l.jpg',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '702',
                        name: 'ミンティア MINTIA',
                        price: 280,
                        text:'MINTIA 薄荷糖 (10盒為一組)',
                        thumb: 'https://thumbnail.image.rakuten.co.jp/@0_mall/worldcontact/cabinet/06747508/06930002/imgrc0100668032.jpg',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '703',
                        name: 'UCC 職人の珈琲',
                        price: 850,
                        text:'UCC 職人の珈琲 100包/箱',
                        thumb: 'https://thumbnail.image.rakuten.co.jp/@0_mall/soukaidrink/cabinet/466/404466-2.jpg',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '704',
                        name: '森永製菓 塩キャラメル袋',
                        price: 80,
                        text:'森永牛奶糖 92g/包',
                        thumb: 'https://thumbnail.image.rakuten.co.jp/@0_mall/segp-shop/cabinet/kashi/imgrc0075803477.jpg',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '705',
                        name: 'ロッテ ブラックブラック',
                        price: 1300,
                        text:'LOTTE 黑X黑 口香糖 (6罐/箱)',
                        thumb: 'https://thumbnail.image.rakuten.co.jp/@0_mall/ladydrug/cabinet/gazo27/4903333106530_2.jpg',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '706',
                        name: '茅乃舎だし',
                        price: 990,
                        text:'茅乃舍高湯包 (一般/減鹽/蔬菜/香菇/魚乾) (五包入)',
                        thumb: 'https://thumbnail.image.rakuten.co.jp/@0_mall/sup-s-r/cabinet/tyoumiryou/5syu.jpg',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '707',
                        name: 'DHC 薬用リップクリーム',
                        price: 140,
                        text:'DHC 藥用護唇膏',
                        thumb: 'https://thumbnail.image.rakuten.co.jp/@0_mall/aromage-store2/cabinet/item/imgrc0073951876.jpg',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '708',
                        name: '熊野油脂 ファーマアクト クールボディソープ 550ml',
                        price: 150,
                        text:'KUM 熊野沐浴乳 550ml',
                        thumb: 'https://tshop.r10s.jp/auc-azzuro-/cabinet/product_img10/10036104.jpg?downsize=320:*',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '709',
                        name: '熊野油脂 ファーマアクト クールボディソープ 800ml 詰め替え',
                        price: 140,
                        text:'KUM 熊野沐浴乳補充包 800ml',
                        thumb: 'https://tshop.r10s.jp/shop-aube/cabinet/product_img10/10036105.jpg?downsize=320:*',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '710',
                        name: 'BOTANIST ボタニスト 490ml',
                        price: 410,
                        text:'BOTANIST 洗髮精 (由左至右:保濕、柔順、損傷護理、頭皮清潔、彈性髮根，欲購買請私訊告知要哪一種)',
                        thumb: 'https://tshop.r10s.jp/kobe-beauty-labo/cabinet/botanist_img/thum/10193857/imgrc0085488971.jpg?_ex=400x400&s=0&r=1',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '711',
                        name: 'BOTANIST ボタニスト 425ml 詰め替え',
                        price: 350,
                        text:'BOTANIST 洗髮精補充包 425ml (由左至右:保濕、柔順、損傷護理、頭皮清潔、彈性髮根，欲購買請私訊告知要哪一種)',
                        thumb: 'https://tshop.r10s.jp/kobe-beauty-labo/cabinet/04278206/bota-refill/imgrc0079837451.jpg?_ex=400x400&s=0&r=1',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '712',
                        name: 'ALLIE SPF50+ PA++++ 40g',
                        price: 500,
                        text:'ALLIE 防曬乳 紫陽明妍-遮飾暗沉 40g',
                        thumb: 'https://tshop.r10s.jp/kumokumo-square/cabinet/ikou23/10046475.jpg?downsize=400:*',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '801',
                        name: '白い恋人',
                        price: 600,
                        text:'白色戀人 24包入/盒',
                        thumb: 'https://tshop.r10s.jp/hokkaido-omiyage/cabinet/koibito/isiya013-pack.jpg?downsize=330:*',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '802',
                        name: 'メリー チョコレート',
                        price: 600,
                        text:'Mary`s 巧克力禮盒 24入/盒',
                        thumb: 'https://shop.r10s.jp/gift-lien/cabinet/sweets/marys1000-1.jpg',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '803',
                        name: '東京ばな奈',
                        price: 420,
                        text:'東京香蕉蛋糕 8入/盒',
                        thumb: 'https://thumbnail.image.rakuten.co.jp/@0_mall/brings/cabinet/tokyobanana/normal/banana-img.jpg',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '804',
                        name: 'サンリツ サンフィガロ',
                        price: 480,
                        text:'FIGARO 餅乾禮盒 42入/盒',
                        thumb: 'https://shop.r10s.jp/tabaki/cabinet/tukurikomi/figaro/g1924-206_1.jpg',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '806',
                        name: '日清食品 カップヌードル 75g 20入',
                        price: 1400,
                        text:'日清杯麵 75g 20入(一箱) (左上-右下: 醬油、海鮮、咖哩、味噌、番茄，欲購買請私訊告知要哪一種)',
                        thumb: 'https://tshop.r10s.jp/kimisara/cabinet//compass1691839283.jpg?_ex=200x200&s=0&r=1',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '901',
                        name: 'DHA&EPA + セサミンEX',
                        price: 2250,
                        text:'三得利 DHA 魚油 240粒入',
                        thumb: 'https://www.suntory-kenko.com/assets/img/supplement/main/43322/product_summary/pkg_dha_kv_rn.png?20220622',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '902',
                        name: 'グルコサミン アクティブ',
                        price: 2100,
                        text:'三得利 固立申 甲殼軟骨素葡萄糖胺 360粒入',
                        thumb: 'https://www.suntory-kenko.com/assets/img/supplement/main/43341/product_summary/pkg_glc_kv.png?20220524',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '903',
                        name: '黒酢にんにく',
                        price: 1100,
                        text:'三得利 黑醋大蒜精 180粒入',
                        thumb: 'https://www.suntory-kenko.com/assets/img/supplement/pouch/43371/product_summary/pkg_kznk_kv.png?20220524',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '904',
                        name: 'ビトアス ザ パーフェクト セラム',
                        price: 2200,
                        text:'三得利 美顏保濕精華乳液 120ml',
                        thumb: 'https://www.suntory-kenko.com/assets/img/skincare/vitoas/52100/product_summary/pkg_52100_kv.png?20220915',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '905',
                        name: 'セサミンEX',
                        price: 2250,
                        text:'三得利 芝麻明E 270粒入',
                        thumb: 'https://www.suntory-kenko.com/Content/abtest/s3622/img/pkg_ssmn_kv_s3622.png?20220825',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    },{
                        id: '906',
                        name: 'Milcolla[ミルコラ]',
                        price: 1300,
                        text:'蜜露珂娜 30包入',
                        thumb: 'https://i2.momoshop.com.tw/1693091039/goodsimg/0009/143/614/9143614_B.webp',
                        amount: 0,
                        amountShow: 0,
                        showingIcon: false
                    }
                ],
            },
            methods: {

                // 點擊 - / + 後的動作
                minusOne (product) {
                    product.amountShow--
                    product.amountShow = (product.amountShow < 0) ? 1 : product.amountShow
                },
                addOne (product) {
                    product.amountShow++
                    product.amountShow = (product.amountShow > 999) ? 999 : product.amountShow
                },

                // 點擊 add to cart 後的動作
                addToCart (product) {
                    product.amount += product.amountShow
                    
                    product.showingIcon = true
                    setTimeout(() => {
                        product.showingIcon = false
                    }, 1000)
                    product.amountShow = 0  //點擊後就歸零 避免多次點擊重複計算
                },

                // 在購物車裡移除單一品項 ( 把數量設置成 0 )
                remove (product) {
                    product.amount = 0
                },
            },
            computed: {
                // 購物車裡的品項
                productsInCart () {
                    return this.products
                        // 只顯示購買數量 > 0 的項目
                        .filter(p => p.amount)
                        // 算出每個產品的小計
                        .map(p => {
                            p.sum = p.amount * p.price
                            return p
                        })
                },

                // 目前購買的金額
                total () {
                    return this.productsInCart
                        .reduce((sum, p) => (sum + p.sum), 0)
                }
            },


        })
    </script>
    
</body>
</html>
